[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}
	signingkey = {{ .signingkey | quote }}
[core]
	editor = nvim
	pager = delta
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[diff]
	algorithm = histogram
	colorMoved = default
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	syntax-theme = OneHalfDark
	line-numbers = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
