[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}
	signingkey = {{ .signingkey | quote }}
[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[diff]
	algorithm = histogram
[commit]
	gpgsign = true
[tag]
	gpgSign = true
